<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
    <title>AlignAuth Test program</title>
</head>
<body>
    AlignAuth test application
<section id="main">
@RenderBody()
</section>
</body>
</html>